@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  font-family: "Fira Sans", serif;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: 80px;
}

/* Shared Styles */
.btn-primary {
  border-radius: 8px;
  background: #006A50;
  display: flex;
  padding: 17px 34px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  color: #FFF;
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.section-title {
  color: #0E0E0E;
  font-family: "Fira Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
section{
  width: 1280px;
  margin: 0 auto;
}


/* nav bar */
.nav-bar {
  display: flex;
  padding: 24px 160px;
  justify-content: space-between;
  align-items: center;
}

.sign-in-btn {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 8px;
  border: 1px solid #006A50;
  color: #006A50;
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sign-in-btn:hover {
  background-color: #006A50;
  color: white;
}

/* hero section */
.hero-section {
  display: flex;
  width: 1280px;
  padding: 80px 100px;
  justify-content: center;
  align-items: center;
  gap: 64px;
  border-radius: 24px;
  background: #C6E4D6;
  

}

.hero-section-full-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-subtitle {
  color: rgba(14, 14, 14, 0.50);
  font-family: "Fira Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero-title {
  color: #0E0E0E;
  font-family: "Fira Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 24px;
}

/* Pillars section */
.pillars-container {
  display: flex;
  gap: 24px;
}

.pillar-box {
  display: flex;
  width: 302px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #FFF;
}

.pillar-heading {
  color: rgba(14, 14, 14, 0.80);
  font-family: "Fira Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pillar-description {
  color: rgba(14, 14, 14, 0.70);
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}